<div class="page-header">
  <h1>{{name}}</h1>
  <p>{{description}}</p>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody class="messages_list"></tbody>
      </table>
    </div>
    <div class="col-md-4"><img data-src="holder.js/200x200/{{image_type}}" /></div>
  </div>
</div>