<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand home_link" href="/">Demo App</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="home_link" href="/">Dashboard</a></li>
        <li><a href="#" class="fullscreen_link">FullScreen</a></li>
      </ul>
    </div>
  </div>
</div>